body {
	font-family: handlee;
	font-style: normal;
	font-weight: 400;
}
h1, h2, h3 {
	font-family: handlee;
	font-style: normal;
	font-weight: 400;	
}
a {
	color: #25333a;
}
a:hover {
	color: #1288E7;
	text-decoration: none;
}
.header {
	background-color: #DB50B5;
	color: #ffffff;
	padding-top: 1em;
	padding-bottom: 1em;
}
.header a {
	color: #ffffff;
	text-decoration: none;
}
.header a:hover {
	color: #ffffff;
	text-decoration: none;
}
.footer {
	border-top: solid 5px #1288E7;
	background-color: #DB50B5;
	padding-top: 1em;
	padding-bottom: 1em;
	margin: 0;
	margin-top: 2em;
	color: #ffffff;
}
.footer a {
	color: #ffffff;
	font-size: 2em;
	margin-left: .25em;
}
.navigation {
	background-color: #1288E7;
	padding-top: .5em;
	padding-bottom: .5em;
	margin: 0;
	margin-bottom: 2em;
}
.navigation .breadcrumb {
	background-color: #1288E7;
	margin: 0;
	color: #ffffff;
}
.navigation .breadcrumb li, .navigation .breadcrumb a, .navigation .breadcrumb a:hover {
	color: #ffffff;
	text-decoration: none;
}
.navigation .breadcrumb li.active {
	color: #DB50B5;
	font-weight: 400;
}
.breadcrumb-item+.breadcrumb-item::before {
	color: #ffffff;
}
.fa-facebook-square:hover {
	color: #1288E7;
}
.fa-instagram:hover {
	color: #1288E7;
}
.fa-youtube-square:hover {
	color: #1288E7;
}
.fa-twitter-square:hover {
	color: #1288E7
}